---
import { Image } from "astro:assets";
import Plus_star from "../assets/plus_star.svg";

const { id, name, ratings = [], img } = Astro.props;

let ratingsNum = 0;
ratings.forEach((rating) => {
  if (rating.rating > ratingsNum) {
    ratingsNum = rating.rating;
  }
});

const uniqueRatingName = `rating-${id}`;

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    const noodleId = id.toString();
    const review = formData.get("review")?.toString() || "";
    const rating = formData.get("rating")?.toString() || "";

    const params = new URLSearchParams();
    params.append("noodle_id", noodleId);
    params.append("review", review);
    params.append("rating", rating);

    const response = await fetch("http://127.0.0.1:8000/api/rate", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
      body: params.toString(),
    });
    console.log("Response:", response);

    if (response.ok) {
      return Astro.redirect("/raterPage");
    } else {
      const responseData = await response.text();
      error = `Error: ${response.status} ${response.statusText}. ${responseData}`;
    }
  } catch (e: unknown) {
    error = `Exception: ${e instanceof Error ? e.message : String(e)}`;
    console.error(e);
  }
}
const modalId = `modal-${id}`;
---

<div
  class="card bg-white shadow-md rounded-lg p-4 w-80 text-black hover:scale-105 transition-transform duration-300 ease-in-out"
  transition:name={`card-${id}`}
  data-rating={ratings}
  data-name={name.toLowerCase()}
>
  <Image
    id={`img-${id}`}
    width={200}
    height={400}
    src={img || "https://picsum.photos/400/200"}
    alt={name || "Noodle"}
    class="rounded-t-lg w-full h-40 object-cover mb-4"
    loading="lazy"
    transition:name={`image-${id}`}
  />
  <h2 transition:name={`name-${id}`} class="text-xl font-bold mb-2">{name}</h2>
  <div>
    <h3>Puntuación media:</h3>
    <div class="flex flex-row justify-center">
      <div class="rating rating-lg rating-half" transition:name={`rater-${id}`}>
        <input
          type="radio"
          name={uniqueRatingName}
          class="rating-hidden"
          checked={ratingsNum === 0}
          disabled
        />
        <input
          type="radio"
          name={uniqueRatingName}
          class="mask mask-star-2 mask-half-1 bg-orange-500"
          aria-label="0.5 star"
          checked={ratingsNum === 1}
          disabled
        />
        <input
          type="radio"
          name={uniqueRatingName}
          class="mask mask-star-2 mask-half-2 bg-orange-500"
          aria-label="1 star"
          checked={ratingsNum === 2}
          disabled
        />
        <input
          type="radio"
          name={uniqueRatingName}
          class="mask mask-star-2 mask-half-1 bg-orange-500"
          aria-label="1.5 star"
          checked={ratingsNum === 3}
          disabled
        />
        <input
          type="radio"
          name={uniqueRatingName}
          class="mask mask-star-2 mask-half-2 bg-orange-500"
          aria-label="2 star"
          checked={ratingsNum === 4}
          disabled
        />
        <input
          type="radio"
          name={uniqueRatingName}
          class="mask mask-star-2 mask-half-1 bg-orange-500"
          aria-label="2.5 star"
          checked={ratingsNum === 5}
          disabled
        />
        <input
          type="radio"
          name={uniqueRatingName}
          class="mask mask-star-2 mask-half-2 bg-orange-500"
          aria-label="3 star"
          checked={ratingsNum === 6}
          disabled
        />
        <input
          type="radio"
          name={uniqueRatingName}
          class="mask mask-star-2 mask-half-1 bg-orange-500"
          aria-label="3.5 star"
          checked={ratingsNum === 7}
          disabled
        />
        <input
          type="radio"
          name={uniqueRatingName}
          class="mask mask-star-2 mask-half-2 bg-orange-500"
          aria-label="4 star"
          checked={ratingsNum === 8}
          disabled
        />
        <input
          type="radio"
          name={uniqueRatingName}
          class="mask mask-star-2 mask-half-1 bg-orange-500"
          aria-label="4.5 star"
          checked={ratingsNum === 9}
          disabled
        />
        <input
          type="radio"
          name={uniqueRatingName}
          class="mask mask-star-2 mask-half-2 bg-orange-500"
          aria-label="5 star"
          checked={ratingsNum === 10}
          disabled
        />
      </div>
      <div class="ml-4 flex items-center">
        <label for={modalId} class="btn bg-gray-300 ml-4">
          <Plus_star class="w-5 h-5" alt="Añadir Puntuación" />
        </label>
      </div>
    </div>
    <p class="mt-2 text-sm text-gray-600" transition:name={`rater-text-${id}`}>
      Puntuación: {ratingsNum}/10
    </p>
  </div>
  <a href=`/${id}` class="w-full">
    <button class="btn btn-primary mt-4" transition:name={`button-${id}`}>
      Ver Detalles
    </button>
  </a>
</div>

<input type="checkbox" id={modalId} class="modal-toggle" />
<div class="modal bg-white">
  <div class="modal-box bg-white text-black">
    <h3 class="font-bold text-lg">Añade tu reseña</h3>
    <form method="POST" action="">
      <div class="rating rating-lg rating-half">
        <input type="radio" name="rating" class="rating-hidden" />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-orange-500"
          aria-label="0.5 star"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-orange-500"
          aria-label="1 star"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-orange-500"
          aria-label="1.5 star"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-orange-500"
          aria-label="2 star"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-orange-500"
          aria-label="2.5 star"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-orange-500"
          aria-label="3 star"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-orange-500"
          aria-label="3.5 star"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-orange-500"
          aria-label="4 star"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-orange-500"
          aria-label="4.5 star"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-orange-500"
          aria-label="5 star"
        />
      </div>
      <div class="form-control mt-4">
        <label for="review" class="label">
          <span class="label-text">Review</span>
        </label>
        <textarea
          name="review"
          class="textarea textarea-bordered h-24 bg-white resize-none shadow-md border-black-2"
          placeholder="Escribe tu reseña aquí..."></textarea>
      </div>
      <div class="modal-action">
        <button type="submit" class="btn">Enviar</button>
        <!-- este label cierra al des‑checkear el checkbox -->
        <label for={modalId} class="btn">Cancelar</label>
      </div>
    </form>
  </div>
</div>
